/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

 body {
  background-color: #464342;
}

body {color:#b7cfc3;}

body {
  font-family: Times; 
}

h1{
  font-family: Times;
}

p.intro {
  font-size: 2em;
  line-height: 1.25;
  padding: 1em;
  border: 0.1em solid #b7cfc3;
  margin: 1em;
}
