/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

 body {
  background-color: #464342;
}

body {color:#b7cfc3;}

body {
  font-family: Times; 
}

h1{
  font-family: Times;
}

body {
  font-size: 1em;
  line-height: 1.25;
  padding: 1em;
  border: 0.1em solid #b7cfc3;
  margin: 1em;
}

img {
  border: 5px solid #b7cfc3;

  a: link {
  color: #f0a924;
}
  
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}  

dd {
  display: list-item;
  list-style-type: "🐟";
  padding-inline-start: 1ch;
}

a::before {
  content: "🎣";
}
  
a:link {
  color: ;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
